<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coappso.hera_user.hera_user">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
